form{
    margin: 0;
    padding: 0;
}

.contact-form-text{
    display: block;
    width: 95%;
    box-sizing: border-box;
    margin: 9px;
    border: 0;
    background-color: #312F2F;
    padding: 20px 40px;
    outline: none;
    color: #8ADFFF;
    transition: 0.5s;

}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #8ADFFF;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background-color: #2F8FE8;
    color: #8ADFFF;
    padding: 12px 50px;
    border-radius: 20px;
}

.contact-section h2{
    background-color: #312F2F;
    line-height: 60px;
}

.contact-section{
    margin-bottom: 100px;
}

header,
.footer{
    width: 100%;
}