html{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}


h1,
h2,
h3{
    text-align: center;
}

header,
.accueil{
    position: relative;
}

img{
    max-width: 375px;
    height: auto;
    align-items: center;
}

a{
    text-decoration: none;
}

header,
.footer{
    line-height: 91px;
    background-color: #312F2F;
    opacity: 95%;
}

.footer{
    min-width: 375px;
    position: absolute;
    bottom: -950px        /*à changer*/
}

.accueil{
    background-color: #312F2F;
    opacity: 95%;
    line-height: 161px;
    position: relative;
    top: 30px;
}

header{
    top: -20px;
}

.accueil{
    top: 200px;
}

body>p{
    background: #312F2F;
    width: 345px;
    line-height: 21px;
    position: relative;
    left: 10px;
    top: 200px;
    border: solid 5px #312F2F;
}

header>h2{
    text-align: center;
}

.tweet1,
.tweet2,
.tweet3{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    background-color: #312F2F;
    border: solid 5px #312F2F;
    position: relative;
    top: 475px;
}

header img{
    position: absolute;
    rotation: 90deg;
    padding: 0;
    margin: 0;
}



                                        /*Menu*/
.nav-toggle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after{
    content: "";
    background-color: #2F8FE8 ;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before{
    top: -10px;
}

.nav-toggle-bar::after{
    top: 10px;
}

.menu{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition:all 1s;
    z-index: 1;
}

.menu img{
    position: absolute;
    opacity: 30%;
}

.menu-open .menu{
    transform: translateX(0);
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
}
.menu li{
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .3s ease;
}

.menu a{
    color: #2F8FE8;
}

.menu-open{
    overflow: hidden;
}
.menu-open .nav-toggle-bar{
    transform: rotate(135deg);
    background-color: #2F8FE8;
}

.menu-open .nav-toggle-bar::after,
.menu-open .nav-toggle-bar::before{
    transform: rotate(90deg);
    background-color: #2F8FE8;
    top: 0;
}

.menu-open .menu li{
    transform: translateX(0);
    opacity: 1;
}

.menu-open .menu li:nth-child(n+1) {transition-delay: .3s}
.menu-open .menu li:nth-child(n+2) {transition-delay: .35s}
.menu-open .menu li:nth-child(n+3) {transition-delay: .4s}
                                        /*Fin Menu*/