html{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    overflow-x: hidden;
}

.bg>img{
    position: fixed;
    z-index: -100;
    top: -10px;
}

body>p,
.accueil,
body>h2,
body>h3{
    z-index: -99;
}

h1,
h2,
h3{
    text-align: center;
}

header,
.accueil{
    position: relative;
}

img{
    max-width: 375px;
    height: auto;
    align-items: center;
}

a{
    text-decoration: none;
}

header{
    line-height: 91px;
    background-color: #312F2F;
    opacity: 95%;
}

.accueil{
    background-color: #312F2F;
    opacity: 95%;
    line-height: 161px;
    position: relative;
    top: 230px;
}

header{
    top: -20px;
}

body>p,
paragraph{
    background: #312F2F;
    width: 300px;
    line-height: 21px;
    position: relative;
    left: 10px;
    top: 200px;
    border: solid 5px #312F2F;
}

header>h2{
    text-align: center;
}

.tweet,
.paragraph{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    background-color: #312F2F;
    border: solid 5px #312F2F;
    z-index: -99;
    position: relative;
    top: 25px;
    opacity: 95%;
}

.paragraph{
    margin-bottom: 100px;
    margin-top: 50px;
}

header img{
    position: static;
    top:-10px;
}

.logo{
    position: relative;
    top: 30px;
    left: 10px;
}


.tweet{
    margin-bottom: 100px;
}

h1{
    align-items: center;
    margin-bottom: 700px;
}
