h1{
    font-family: Futura;
    font-size: 50px;
    color: #8ADFFF;
}

h2{
    font-size: 25px;
    font-family: Futura;
    color: #2F8FE8;
    line-height: 50px;
}

h3{
    font-family: "Josefin Sans";
    font-size: 20px;
    color: #8ADFFF;
    line-height: 50px;
}

p{
    font-family: "Fira Sans";
    font-size: 16px;
    color: #8ADFFF;
}

a{
    text-decoration: none;
    color: #2F8FE8;
    font-family: Futura;
    font-size: 20px;
}
.input{
    color: #8ADFFF;
}

.nom p{
    color: #2F8FE8;
    line-height: 1rem;
    width: 60px;
}

.nom{
   margin: 10px;
}

.nom p:first-of-type{
    font-weight: bold;
}